﻿@model KnowYourMentor.Model.MentorViewModels.ShowMentorViewModel




@{
    Layout = "_Layout2";
}


<div class="rp bqq agk">

    <div class="rq awx">
        <img class="bqr" src="@Model.Mentor.MentorImage" alt="Thumbnail of Mentor" />

        <span><i class="glyphicon glyphicon-globe intro" style="color: rgb(0, 0, 0);    font-size: 18px;
    line-height: 18px;
    font-weight: bold;">Overview</i> </span>
        <span class="summaryDetails">@Model.Mentor.Summary</span>


        <div class="Quotes" style="display:@Model.ShowQuote">
            <span class="_h72 lfloat _ohe _50f8 _50f7" style="text-transform:uppercase;color: #90949c;font-weight: bold;">Favourite Quotes</span>
            <blockquote>@Model.Mentor.FavouriteQuote</blockquote>

        </div>

        <div class="DescriptionDiv">
            <span class="glyphicon glyphicon-hand-right">  </span>
            <span class="Description">@Model.Mentor.Description</span>
        </div>




        <div class="SocialLinks">
            <!--Facebook-->
            <a type="button" href="@Model.Mentor.FacebookLink" target="_blank" style="display:@Model.ShowFacebookLink" class=" btn-floating btn-large btn-fb"><i class="fa fa-facebook"></i></a>
            <!--Twitter-->
            <a type="button" href="@Model.Mentor.TwitterLink" target="_blank" style="display:@Model.ShowTwitterLink" class=" btn-floating btn-large btn-tw"><i class="fa fa-twitter"></i></a>
            <!--Google +-->
            <a type="button" href="@Model.Mentor.GooglePlus" target="_blank" style="display:@Model.ShowGooglePlusLink" class=" btn-floating btn-large btn-gplus"><i class="fa fa-google-plus"></i></a>
            <!--Linkedin-->
            <a type="button" href="@Model.Mentor.LinkedIn" target="_blank" style="display:@Model.ShowLinkedInLink" class=" btn-floating btn-large btn-li"><i class="fa fa-linkedin"></i></a>

        </div>
    </div>
</div>