﻿
@model KnowYourMentor.Model.MentorViewModels.MentorViewModel

@{
    ViewData["Title"] = Model.Heading;
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<style>
    .textAreaFor {
        width: 500px;
        height: 300px;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

    ::-webkit-input-placeholder {
        text-align: center;
        padding-top: 1cm;
    }


    #img-upload {
        width: 20%;
    }
</style>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript">

    $(window).resize(function () {
        var width = $(window).width();
        if (width > 1096) {
            $("#imgName").css("width", "200px");
        }
        else {
            $("#imgName").removeClass("width");
        }

    });


    function fileCheck(obj) {
        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
        }
    }




    $(document).on('click', '#close-preview', function () {

        $('.image-preview').popover('hide');
        // Hover befor close the preview
        $('.image-preview').hover(
            function () {
                $('.image-preview').popover('show');
            },
             function () {
                 $('.image-preview').popover('hide');
             }
        );
    });

    $(document).ready(function () {
        var width = $(window).width();
        if (width > 1096) {
            $("#imgName").css("width", "200px");
        }
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
        });

        $('.btn-file :file').on('fileselect', function (event, label) {
            var input = $(this).parents('.input-group').find(':text'),
		        log = label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-upload').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function () {
            readURL(this);
        });
    });




</script>
<h1 style="margin-top:100px">Edit Mentor</h1>

<form asp-action="Update" asp-controller="Mentor" enctype="multipart/form-data" method="post">

    <input value="@Model.Mentor.ID" name="Id" type="hidden" />

    <div class="form-group">
        <label asp-for="Mentor.FirstName" class="control-label"></label>
        <input asp-for="Mentor.FirstName" value="@Model.Mentor.FirstName" class="form-control" autofocus="autofocus" />
        <span asp-validation-for="Mentor.FirstName" class="text-danger"> </span>
    </div>


    <div class="form-group">
        <label asp-for="Mentor.LastName" class="control-label"></label>
        <input asp-for="Mentor.LastName" value="@Model.Mentor.LastName" class="form-control" autofocus="autofocus" />
        <span asp-validation-for="Mentor.LastName" class="text-danger"> </span>
    </div>

    <div class="form-group">
        <label class="control-label">Upload Image</label>
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-default btn-file">
                    Browse… <input class="form-control"  type="file" name="file" id="imgInp">
                    
                </span>
            </span>
            <input type="text" id="imgName"  class="form-control" readonly>
        </div>
        <img id='img-upload' src="@Model.Mentor.MentorImage" /><br/>
        <span asp-validation-for="file" class="text-danger"> </span>  
    </div>


    <div class="form-group">

        <label asp-for="Mentor.FavouriteQuote" class="control-label"></label>
        <input asp-for="Mentor.FavouriteQuote" value="@Model.Mentor.FavouriteQuote" class="form-control" autofocus="autofocus" />
        <span asp-validation-for="Mentor.FavouriteQuote" class="text-danger"> </span>

    </div>


    <div class="form-group">

        <label asp-for="Mentor.TwitterLink"  class="control-label"></label>
        <input asp-for="Mentor.TwitterLink" value="@Model.Mentor.TwitterLink"  class="form-control" autofocus="autofocus" />
        <span asp-validation-for="Mentor.TwitterLink" class="text-danger"> </span>

    </div>
    <div class="form-group">

        <label asp-for="Mentor.FacebookLink" class="control-label"></label>
        <input asp-for="Mentor.FacebookLink" value="@Model.Mentor.FacebookLink" class="form-control" autofocus="autofocus" />
        <span asp-validation-for="Mentor.FacebookLink" class="text-danger"> </span>

    </div>

    <div class="form-group">

        <label asp-for="Mentor.LinkedIn" class="control-label"></label>
        <input asp-for="Mentor.LinkedIn" value="@Model.Mentor.LinkedIn" class="form-control" autofocus="autofocus" />
        <span asp-validation-for="Mentor.LinkedIn" class="text-danger"> </span>

    </div>
    <div class="form-group">

        <label asp-for="Mentor.GooglePlus" class="control-label"></label>
        <input asp-for="Mentor.GooglePlus" value="@Model.Mentor.GooglePlus" class="form-control" autofocus="autofocus" />
        <span asp-validation-for="Mentor.GooglePlus" class="text-danger"> </span>

    </div>




    <div class="form-group">
        <label asp-for="Mentor.Summary" class="control-label"></label>
        @Html.TextAreaFor(model => model.Mentor.Summary, new { @class = "form-control", placeholder = "XYZ is, co-founder and MVP.", @rows = "5" })
        <span asp-validation-for="Mentor.Summary" class="text-danger"> </span>
    </div>

    <div class="form-group">
        <label asp-for="Mentor.Description" class="control-label"></label>
        @Html.TextAreaFor(model => model.Mentor.Description, new { @class = "form-control", placeholder = "Details Who he is. What he does? ", @rows = "5" })
        <span asp-validation-for="Mentor.Description" class="text-danger"> </span>
    </div>

    <div class="form-group">
        <div>
            <input type="submit" value="Save" class="btn btn-lg btn-primary" />
        </div>
    </div>



</form>
