﻿
@using Microsoft.AspNetCore.Identity
@using AspNetCore.Identity.MongoDB
@model IEnumerable<KnowYourMentor.Model.Mentor>
@inject SignInManager<MongoIdentityUser> SignInManager
@inject UserManager<MongoIdentityUser> UserManager
@{
    Layout = "_Layout2";
}



<style>
    font-family: 'Open Sans', sans-serif; html {
        font-family: 'Open Sans', sans-serif;
    }


    .thumbnail {
        position: relative;
        padding: 0px;
        margin-bottom: 20px;
        background: #f6f7f9;
    }

        .thumbnail img {
            width: 100%;
        }

    .Mentorimg {
        height: 300px !important;
        width: 300px !important;
    }
</style>





<div class="col-lg-12 " style="margin-top:80px">
    <h1>Mentors</h1>
    @foreach (var item in Model)
    {
        //col - sm - 6 col - md - 4

        <div class="col-xs-18 col-sm-6 col-md-4" >
            <div class="thumbnail" >
                <img src="@item.MentorImage" alt="Thumbnail of Mentor" class="Mentorimg" alt="">
                <div class="caption" style="height: 172px;">
                   
                        <a asp-action="GetMentorById"  class="mentorProfile"   asp-controller="Mentor" asp-route-Id="@item.ID">

                            @(item.FirstName + " " + item.LastName)

                        </a>
@if (SignInManager.IsSignedIn(User))
{
                  <a  asp-action="Edit" class="mentorProfile" asp-controller="Mentor" asp-route-Id="@item.ID">| Edit</a>
}




                <p>@item.Summary</p>

            </div>
        </div>

    </div>



    }
</div>