﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Know your mentor Video Podcast with a few 10-15 min episodes.
    Here we talk with  great legends of India who are well known in the IT industry and has being playing vital role in the community.
    Our major objective is to have video session experience that greatly benefits our students, developers or normal person who are looking to excel, find the mentor.
    So that Mentors can share their time,talents and experiences with mentess and server as role models, advocates and be a valuable resource to all students around the world.

</p>
