﻿@*@if (Model.ShowPreviousShows)
{*@
    <h2>Previous Episodes</h2>

    @*<div class="row">
        @foreach (var show in Model.PreviousShows)
        {
            <partial name="_YouTubeShow" model="show"></partial>
        }
    </div>*@

        @if (Model.ShowMoreShowsUrl)
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="@Model.MoreShowsUrl" class="btn btn-primary">See More Episodes</a>
                </div>
            </div>
        }
@*}*@