﻿@model KnowYourMentor.Model.Episodes
<div class="col-lg-12 " style="margin-top:40px">
    @foreach (var item in Model.Shows)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail youtube-show bottom-buffer center-block">
                <a href="@item.Url" title="Watch this episode" target="_blank">
                    <div>
                        <img class="img-responsive center-block" src="@item.ThumbnailUrl" alt="Thumbnail of episode" />
                    </div>
                </a>
                <div class="caption text-center">
                    <h3>
                        <a href="@item.Url" title="Watch this episode">

                            @item.Title<br />
                        </a>
                        <span class="show-date">@item.ShowDate.DateTime.ToString("MMM dd, yyyy")</span>
                        @*@if (Model.item)
                            {
                                <span class="label label-success label-new-show">New</span>
                            }*@
                    </h3>
                </div>
            </div>
        </div>
    }
    </div>