﻿<!DOCTYPE html>
<html>
<head>
    @using Microsoft.AspNetCore.Identity
    @using AspNetCore.Identity.MongoDB
    @inject SignInManager<MongoIdentityUser> SignInManager
    @inject UserManager<MongoIdentityUser> UserManager
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KnowYourMentor</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Full Slider - Start Bootstrap Template</title>





    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        
        <link href="~/css/social.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <!-- Custom CSS -->
        <link href="~/css/full-slider.css" rel="stylesheet" />

        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Titillium+Web&subset=latin,latin-ext" rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <!-- Custom CSS -->
        <link href="~/css/full-slider.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="AllShows" class="navbar-brand">KnowYourMentor</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="AllShows">Home</a></li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li><a asp-area="" asp-controller="Mentor" asp-action="create">Add a Mentor</a></li>
                    }
                    <li><a asp-area="" asp-controller="Mentor" asp-action="Index">Mentors</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @*<li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>*@
                    @await Html.PartialAsync("_LoginPartial")
                </ul>

            </div>

        </div>
    </div>




    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <hr />
                    <p>&copy; 2017 - Know Your Mentor</p>

                </div>
            </div>

        </footer>

        @*<footer>
            <div class="row">
                <div class="col-md-6">                  
                    <p>&copy; 2017 - Know Your Mentor</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <nav class="clearfix">
                        <ul>
                            <li><a href="">Privacy Statement</a></li>
                            <li><a href="">Terms of Use</a></li>
                        </ul>
                    </nav>
                </div>

            </div>

        </footer>*@

    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
