﻿/*csslint qualified-headings:false, unique-headings:false, known-properties:false, universal-selector:false*/

body {
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI Light', 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
}

.jumbotron {
    background: #000 url(home-bg.jpg) top center repeat-x;
    background-size: 920px;
    color: #fff;
    min-height: 350px;
}

@media (min-width: 920px) {
    .jumbotron {
        background-size: 100%;
    }
}

@media (min-width: 1440px) {
    .jumbotron {
        background-size: 1440px;
    }
}

h2 a, h2 a:hover, h2 a:focus, h2 a:active, h2 a:visited {
    color: #fff;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

a, a:hover {
    color: rgb(38, 124, 178);
}

.btn, .thumbnail, input[type='text'], input[type='url'], input[type='datetime'], .form-control, .label, .dropdown-menu {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

    .btn-primary {
        background-color: #0054a3;
    }

.dropdown-menu > li > a:hover {
    background-color: #0054a3;
    color: #fff;
}

.form-group .help-block {
    margin-left: -20px;
}

.click-to-show {
    cursor: pointer;
    font-style: italic;
    color: rgb(38, 124, 178);
}

.click-to-show-revealed {
    font-style: normal;
    color: initial;
}

.hangout-embed {
    margin-top: 30px;
    -webkit-box-shadow: 0 0 5px 5px rgba(255, 255, 255, .4);
    -moz-box-shadow: 0 0 5px 5px rgba(255, 255, 255, .4);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, .4);
    background: #212121;
}

    .hangout-embed * {
        background: #212121;
    }

.thumbnail .caption h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.html-input {
    font-family: Consolas, monospace
}

.bottom-buffer {
    margin-bottom: 30px;
}

/*footer {
    margin-top: 60px;
}*/

    footer nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        footer nav ul > li {
            float: left;
            margin-right: 1em;
        }

.youtube-show > a > div {
    background: #000;
}

.youtube-show > a:hover img {
    opacity: 0.6;
}

    .youtube-show .show-date {
        font-size: 0.8em;
    }

.label-new-show {
    font-size: 0.6em;
}

/* Extra-Small devices (phones, 768px and below) */
@media (max-width: 768px) {
    .youtube-show {
        max-width: 480px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .youtube-show {
        height: 360px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .youtube-show {
        height: 320px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .youtube-show {
        height: 360px;
    }
}




/* FULL-SLIDER OVERRIDES */

.footer{

        margin-top: 60px;
}

.carousel, .item, .active {
    height:70% !important; 
}






/*bootstrap overides*/


.navbar-inverse .btn-link{
    color: #fff;
    background-color: transparent

}
h1, h2, h3, h4, h5, h6
{

    font-family:none;
}

input {
    max-width: 280px;
    line-height: normal;
}
.bg-im
{
    background-size: 350px 680px;
    background-position: 550px 620px;

}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #000;
}
    

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    border: 1px solid #fff;
    border-radius: 10px;
}

/*BootStrap Overrides*/

.dropdown-menu {
-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
     box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }

.navbar-inverse {
    background-color: #303030 ;
    border-color: #303030 ;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}


    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: rgba(205, 40, 39, 0.55);
    }

    .navbar-inverse .notifications {
        position: relative
    }

.navbar-inverse  .notifications .badge{

       position: absolute;
       top: 8px;
    right: -1px;
    background-color: #a80a0a;

    }


body {

    font-size: 17px;
}

.form-control {
    font-size: 17px;
    padding: 0px 15px;
    -ms-border-radius: 9px;
    border-radius: 9px;
    line-height:18px;
}



.form-Select {
    font-size: 17px;
    padding: 11px 15px;
    -ms-border-radius: 9px;
    border-radius: 9px !important;
    display: block;
    width: 100%;
    /* height: 34px; */
    /* padding: 6px 12px; */
    /* font-size: 14px; */
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

body,
.tooltip,
.popover {
    
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
.form-group {
    margin-bottom: 20px;
}

.form-control:focus {
    border-color: #2196F3;
    box-shadow: none;
    webkit-box-shadow: none;    
    
}


.btn {
 /*font-size: 17px;
   padding: 6px 20px;*/
    -ms-border-radius: 9px;
    border-radius: 9px;
}

.navbar-brand {font-weight: 700;}

select[multiple],
select[size] { 
  height: 1px;
}
.text-danger {
    color: red;
    font-weight: bold;
}

/*Page-level styles*/

.gigs {

    list-style: none;
}

.gigs >li {

    position: relative;
    margin-bottom: 30px; 

}


.gigs >li .date {
    background: red;
    color: white;
    text-align: center;
    width: 60px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}




.gigs >li .date .month {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
}

.gigs >li .date .day
 {
    background: #f7f7f7;
    color: #333;
    font-size: 20px;
    padding: 2px 6px;
    height: 40px;
}


.gigs >li .details {

    position: absolute;
    top: 0;
     left: 70px;
}


.gigs >li .details .artist {

    font-weight: bold;
    display: block;
}
    .gigs > li .details .genre {
        font-size: 15px;
        margin-right: 10px;
    }

    .gigs > li .actions {
        font-size: 13px;
        display: none;
    }

    .gigs >li:hover .actions {
        display: block

    }

    .btn-marginRight {

        /*margin-right: -10px !important;*/
        padding: 0px 0px;
    }
    .btn-marginLeft {

        /*margin-left: -10px !important;*/
        padding: 0px 0px;
    }

   .popover-notifications ul.notifications {
        list-style: none;
        padding-left: 0;
    }

  .popover-notifications  ul.notifications > li {

        border-bottom: 1px solid #ddd;
        padding: 10px;

    }

   .popover-notifications  ul.notifications > li:last-child {

        border-bottom: none;
        padding: 10px;

    }
     .popover-notifications  .popover-content{
         padding: 0;

     }



     .popover-notifications ul.notifications .highlight {

         font-weight: bold;
     }


     .popover {
         -webkit-box-shadow: none;
         box-shadow:none;
     }

     #searchGigs{
         width: 300px;
     }

     #SearchTerm {

         box-shadow: none;
         -webkit-box-shadow: none;
     }



